{% extends "base.html" %}
{% load poll_extras %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Заказ №{{ order.id }}
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "index" %}">Главная</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url "control" %}">Панель управления</a>
            </li>
            <li class="breadcrumb-item active">Заказ №{{ order.id }}</li>
        </ol>

        <form action="{% url "change_order_status" id=order.id %}" method="post">
        {% csrf_token %}
            <div class="input-group mb-3">
                <select name="status" class="custom-select" id="inputSelectStatus">
                    <option value="Принят" {% if order.status == 'Принят' %}selected{% endif %}>Принят</option>
                    <option value="Исполнение" {% if order.status == 'Исполнение' %}selected{% endif %}>Исполнение
                    </option>
                    <option value="Исполнен" {% if order.status == 'Исполнен' %}selected{% endif %}>Исполнен</option>
                    <option value="Отменён" {% if order.status == 'Отменён' %}selected{% endif %}>Отменён</option>
                </select>
                <div class="input-group-append" style="margin-left: 10px">
                    <a>
                        <button class="btn btn-outline-secondary" type="submit">Сохранить</button>
                    </a>
                </div>
            </div>
        </form>

        <!-- Project One -->

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Изображение</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Итого</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order_item_list %}
                <tr>
                    <td>
                        <a href="#">
                            <img height="50px" class="rounded mb-3 mb-md-0" src="{{ item.product.photo.url }}" alt="">
                        </a>
                    </td>
                    <td>{{ item.product.name }}</td>
                    <td><span style="color: green; ">{{ item.product.price }} руб/{{ item.product.measure }}</span></td>
                    <td>
                        {{ item.quantity }} {{ item.product.measure }}
                    </td>
                    <td>
                        <span style="color: green; ">{{ item.quantity|mul:item.product.price }} руб</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td><b>Итого:</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>{{ sum_order }} руб</b></td>
            </tr>
            </tfoot>
        </table>
        <p></p>

    </div>
    <!-- /.container -->
{% endblock %}