{% extends "base.html" %}
{% load staticfiles %}
{% load poll_extras %}
{% block content %}
    <!-- Page Content -->
    <div class="container">
        <h1 class="mt-4 mb-3">Обо мне
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "index" %}" style="float: left">Главная</a>
            </li>
            <li class="breadcrumb-item active">Обо мне</li>
        </ol>

        <div class="row">
            <div class="col-md-9">
                <h5>Всем привет!</h5>

                <b>Меня зовут Владимир.</b>

                <p>У меня семейная пасека и я являюсь пчеловодом в четвертом поколении. Профессионально занимаюсь
                    пчеловодством более 25 лет. На нашей пасеке мы получаем следующую продукцию: различные сорта мёда,
                    пыльцу, пергу, прополис, восковую моль (огнёвку), пчелиный подмор.

                <p>Пчеловодство – это очень увлекательное занятие, а пчёлы интересные насекомые и о них я расскажу
                    отдельно
                    в своём блоге. Опыт работы с пчелами я получил от старшего поколения, пополнял знания консультациями
                    специалистов Пчелостанции (тогда еще работающей), изучением литературы, обсуждением насущных
                    вопросов с
                    пчеловодами разных регионов.

                <p>На данный момент наша пасека составляет более 100 семей пчёл. На медосбор пасеку вывожу на различные
                    медоносы. Основными медоносами являются цветы садов, лесов, лугов, а так же акация, липа, боярышник,
                    донник, чабрец и другие медоносные растения. Вывозим и на поля гречихи, кориандра, эспарцета,
                    фацелии,
                    подсолнечника и других медоносов.

                <p>Я являюсь постоянным участником ярмарок мёда. На ярмарках мёда в Москве принимаю участие с самой
                    первой
                    ярмарки, в результате чего имею постоянных покупателей своей продукции.

                <p>Помимо пасеки имею небольшой магазин товаров для пчеловодства, который находится по адресу <b>Орловская
                    область, г. Мценск, ул. Ленина, д. 15</b>. Продукция моего магазина так же представлена в
                    интернет-магазине
                    на данном сайте.

                <p>Более подробно с нашей пасекой можно познакомиться в <a href="">фото-галерее</a>.

                <p>Документы на пасеку и продукцию пчеловодства можно посмотреть <a href="">тут</a>.

                <p>По вопросам приобретения товаров можно обращаться в разделе <a href="{% url "contacts" %}">контактов</a>.
            </div>
            <div class="col-md-3">
                <img src="{% static "images/about1.jpg" %}" width="100%">
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}