{% extends "base.html" %}
{% load staticfiles %}
{% load poll_extras %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Документы</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "index" %}">Главная</a>
            </li>
            <li class="breadcrumb-item active">Документы</li>
        </ol>

        <div class="row">
            <div class="col-md-6">
                <img src="{% static "img/docs/doc1.jpg" %}" width="100%">
            </div>
            <div class="col-md-6">
                <img src="{% static "img/docs/doc2.jpg" %}" width="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{% static "img/docs/doc3.jpg" %}" width="100%">
            </div>
            <div class="col-md-6">
                <img src="{% static "img/docs/doc4.jpg" %}" width="100%">
            </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock %}