{% extends "base.html" %}
{% load staticfiles %}
{% load poll_extras %}
{% block head %}
    <title>Пасека пчеловода Рязанцева: ветеринарно-санитарный паспорт</title>
    <meta name="description" content="Будьте уверены в качестве и экологичности нашего мёда и пчелопродуктов! Все необходимые документы пасеки у нас на руках и вы всегда с ними можете ознакомиться.">
    <meta name="keywords" content="Пасека, пчеловодство, качество, документы">
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Документы</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "index" %}">Главная</a>
            </li>
            <li class="breadcrumb-item active">Документы</li>
        </ol>

        <div class="row">
            <div class="col-md-6">
                <img src="{% static "images/docs/doc1.jpg" %}" width="100%">
            </div>
            <div class="col-md-6">
                <img src="{% static "images/docs/doc2.jpg" %}" width="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{% static "images/docs/doc3.jpg" %}" width="100%">
            </div>
            <div class="col-md-6">
                <img src="{% static "images/docs/doc4.jpg" %}" width="100%">
            </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock %}