{% extends "base.html" %}
{% load staticfiles %}
{% load poll_extras %}
{% block head %}
    <title>Пасека пчеловода Рязанцева: фотографии пасеки из села Тельчье</title>
    <meta name="description" content="Интересные и красивые фотографии нашей любимой пасеки из села Тельчье! Не упустите возможность увидеть своими глазами работу пчеловода!">
    <meta name="keywords" content="Пасека, пчеловодство, фотографии">
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Фото</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "index" %}">Главная</a>
            </li>
            <li class="breadcrumb-item active">Фото</li>
        </ol>

        <div class="row">
        {% for item in photo_list %}
            {% if forloop.counter0|divisibleby:"4" %}
                </div>
                <div class="row">
            {% endif %}
            <div class="col-md-3">
                <div class="modal fade" id="examplePhoto{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-body text-center">
                        <img  class="img-fluid " src="{{ item.photo.url }}" alt="{{ item.photo.name }}">
                      </div>
                    </div>
                  </div>
                </div>

                <a data-toggle="modal" data-target="#examplePhoto{{ forloop.counter0 }}"><img style="width: 300px; height: 200px; object-fit: cover;" class="img-fluid img-thumbnail" src="{{ item.photo.url }}" alt="{{ item.photo.name }}"></a>
            </div>
        {% endfor %}

        </div>
    <br>

    </div>
    <!-- /.container -->
{% endblock %}