{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">{{ post.title }}</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "blog" %}">Блог</a>
            </li>
            <li class="breadcrumb-item active">{{ post.title }}</li>
        </ol>

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-12">

                <hr>
                <!-- Date/Time -->
                <p>Дата публикации {{ post.date|date:"d.m.Y" }}</p>

                <hr>
                {{ post.content|safe }}
                <hr>

                <!-- Put this script tag to the <head> of your page -->
                <script type="text/javascript" src="https://vk.com/js/api/openapi.js?158"></script>

                <script type="text/javascript">
                    VK.init({apiId: 6653259, onlyWidgets: true});
                </script>

                <!-- Put this div tag to the place, where the Comments block will be -->
                <div id="vk_comments"></div>
                <script type="text/javascript">
                    VK.Widgets.Comments("vk_comments", {limit: 20, attach: "*"});
                </script>
                <hr>

            </div>
        </div>
    </div>

{% endblock %}
