{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">{{ post.title }}</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "blog" %}">Блог</a>
            </li>
            <li class="breadcrumb-item active">{{ post.title }}</li>
        </ol>

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-12">

                <hr>
                <!-- Date/Time -->
                <p>Дата публикации {{ post.date|date:"d.m.Y" }}</p>

                <hr>
                {{ post.content|safe }}
                <hr>

            </div>
        </div>
    </div>

{% endblock %}
