{% extends "base.html" %}
{% block content %}

    <div class="modal fade" id="buyProductModal" tabindex="-1"
         role="dialog"
         aria-labelledby="buyProductLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="buyProductLabel">
                        Покупка</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form role="form" action="{% url "add_to_cart" id=product.id %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <h6>{{ product.name }}</h6>
                        <div class="input-group">
                            <div class="input-group-addon">Количество</div>
                            <input name="quantity"
                                   min="{% if product.measure == "кг" %}0.100{% else %}1{% endif %}" max="100"
                                   type="number"
                                   step="{% if product.measure == "кг" %}0.100{% else %}1{% endif %}"
                                   class="form-control"
                                   value="1">
                            <div class="input-group-addon">
                                {{ product.measure }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Купить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">{{ product.name }}
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "index" %}">Главная</a>
            </li>
            <li class="breadcrumb-item active">{{ product.name }}</li>
        </ol>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-6">
                <img class="rounded" width="100%" src="{{ product.photo.url }}">
            </div>

            <div class="col-md-6">
                <h3 class="my-3">О товаре</h3>
                <p>Цена: <b style="color: #1e7e34">{{ product.price }} руб/{{ product.measure }}</b></p>
                <p>Наличие: {% if product.in_stock %}
                    <span style="color: green; ">В наличии</span>
                {% else %}
                    <span style="color: red; ">Нет в наличии</span>
                {% endif %}
                </p>
                <a href="" class="btn btn-primary btn-lg" style="width: 200px" data-toggle="modal"
                       data-target="#buyProductModal">Купить</a>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <h3 class="my-4">Описание</h3>

        <div class="row">
            <div class="col-md-12">
                <p>{{ product.description }}</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}